@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
.HeroText{
    /* font-size: 120px; */
    font-family: 'Cinzel', serif;
    word-spacing: 0ch;
    letter-spacing: -5px;
    background: -webkit-linear-gradient(#f8d57b, white);
    background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1px 5px 6px #333)


}

.LogoImage{
    opacity: 0.4;
    position: -webkit-sticky; /* Safari */
    max-height: 350px;
}

.listStyle{
    color:rgb(250, 216, 192);
    list-style-type: none;
    line-height: 1.5ch;
}

.HeroTextTwo{
    font-size: 85px;
    font-family: 'Cinzel', serif;
    letter-spacing: -5px;
    margin-top: -38px;
    background: -webkit-linear-gradient(#f8d57b, white);
    background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1px 5px 6px #333)
}

.quote{
    color: rgb(255, 255, 255) !important;
    font-weight: 900;
    word-spacing: 2px;
}

.quoteFooter{
    color: white !important;
    
}
.DivOneBg{
    background-image: url('../src/shared/Images/backgroundWidthFixed.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius:50px;
    border-bottom-right-radius: 50px;
    border-bottom: 10px solid black;
}
::-webkit-scrollbar{
    width: 10px; 
}

::-webkit-scrollbar-track{
    background: black;
}

::-webkit-scrollbar-thumb{
    background-image: linear-gradient(rgb(250, 216, 192), black);
    border-radius: 15px;
}


@media screen and (max-width: 850px) {
    .HeroText{
        font-family: 'Cinzel', serif;
        letter-spacing: 1px;
        width: auto;
        background: -webkit-linear-gradient(#f8d57b, white);
        background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: drop-shadow(1px 5px 6px #333)

    
    }
    .HeroTextTwo{
        font-size: larger;
        font-family: 'Cinzel', serif;
        letter-spacing: 1px;
        margin-top: -5px;
        width: auto;
        background: -webkit-linear-gradient(#f8d57b, white);
        background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: drop-shadow(1px 5px 6px #333)
    }   
}


.stickyPage{
    position: absolute;
    transition-timing-function: ease-in;
}

.ContactUsBg{
    background: #5b5e6e;
}